/* 
    Document   : estilos
    Created on : 05-oct-2013, 20:00:39
    Author     : Diego Santos
    Description:
        Estilos generales de la aplicación.
*/

/*** CUERPOR PRINCIPAL ***/
body {
       background-color:#E7E7E7;   
       width:1200px;
       margin: 0 auto;
}

#ContenidoPrincipal {
    margin: 0 auto;  
    width:auto;
    min-width: 1200px;
}

#top{
    color:red;   
    /*margin-top:10px;*/
    /*float:left;*/
    width:100%;
    height: 55px;
    min-width: 1200px;
}

.bloqueCentro{
    padding: 1%;
    width: 590px;
    min-width: 590px;
    height: auto;
    margin: 15px auto;
}

.bloqueCentroLayout2{
    width:880px !important;
    float:right !important;
}

.bloqueIzq{
    width:20%;
    float: left;
    margin: 15px auto;
    padding: 1%;
}

.bloqueDer{
    width:20%;
    float: right;
}

.perfil {
    background-color: #FFF;
    font-size:62.5%;
    font-family:Arial, "Helvetica Neue", Verdana, Sans-serif;
    width: auto;
}
/*** ****************** ***/

/*** CABECERA ***/
#titles {
    left: 20px;
    top: 5px;
    margin: 0px;
    padding: 0px;
    z-index: 20;      
}

#logout{
    float:right;
    margin-right: 20px;
}

.logoutHeader{
    color:#ae2a20;
    font-size: 16pt;
    font-family: Iceberg;
}

.headerSigue{
    -moz-border-radius:3px; /* Firefox */ 
    -webkit-border-radius:3px; /* Safari y Chrome */ 
    border-bottom: 3px solid #0A6088;
    background-color: #1DA8E9;  
}

.encabezadoHeader {
	margin: 0 auto;
	margin-bottom:20px;
	font-size:35pt;
	color:#FFF;
        font-family:'Open Sans', sans-serif;
}
/*** ************** ***/

/*** ESTILOS LOGIN ***/
.bloqueCentroLogin{
    padding: 1%;
    width: 430px;
    height: auto;
    margin: 15px auto;
}
.encabezado {
	text-align: center;
	margin-bottom:20px;
	font-size:40pt;
	color:#1DA8E9;
        font-family:'Open Sans', sans-serif;
}

.ejemplo {
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 10px;
    color: #FFF;
    font-family:'Open Sans', sans-serif;
}

.login{
    width: auto;
    background-color: #505050;
    padding: 40px 50px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.labelLogin{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    color: #FF8627;
    font-weight: 300;
    display: block;
    margin: 5px auto;
    position: relative;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 92%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.colorGray{
    background-color: #404040;
}

.signin {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FF8627;
    color: #ffffff;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
    background-color: #1DA8E9;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}
/*** *********************** ***/

/*** CUADROS Y MARCOS ***/
.cuadro{
    -moz-border-radius:15px; /* Firefox */ 
    -webkit-border-radius:15px; /* Safari y Chrome */ 
    border:1px solid #FFF;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.Marco{
    text-align: center;
    border: #948872 2px solid;
    margin: 7px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.width-80{
    width: 80%;   
}

.width-50{
    width: 50%;   
}
/*** ************ ***/

/*** ACCORDION ***/
#accordion .list1{
    list-style-image: url("../img/list1.jpg");
    margin: 5px;
    padding: 0;
}

#accordion .list2{
    list-style-image: url("../img/list2.png");
    margin-left: 15px;
    padding: 0;
}

#accordion .list3{
    list-style-image: url("../img/list3.png");
    margin-left: 25px;
    padding: 0;
}
/*** ************ ***/

/*** ESTILOS PARA FORMULARIOS ***/
.formSigue{
    width: auto;
    background-color: #FFF;
    padding: 40px 50px;
    font-family:'Open Sans', sans-serif !important;
}

.form-normal{
    background-color: #404040 !important;
    height: 30px !important;
    color: #FFF !important;
    width: 60% !important;
}

.labelSigue{
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    color: #FF8627;
    font-weight: 300;
    display: block;
    width: 60%;
    margin: 5px auto;
    position: relative;
}

.btn-normal{
    width: 40% !important;
    font-family:'Open Sans', sans-serif !important;
    color: #FFF;
    margin: 0 auto;
    display: block !important;
}

input[type="text"], input[type="password"] {
    border-radius: 0;
    border: none;
    margin-bottom: 10px;
    color: #cccccc;
    height: 38px;
}

.btn-20{
    width: 20% !important;
}

.left{
    float: left;
    margin-left: 150px;
}

.right{
    float: right;
    margin-right: 150px;
}
/*** ************************ ***/

/*** CUADROS DE TEXTO ***/
.mensaje{
    font-family: 'Open Sans', Arial;
}

.mensaje h2{
    font-size: 18px;
    margin-bottom: 15px;
    margin-left: 10px;
    color: #65BD77;
}

.mensaje h4{
    color: #1B1E24;
    font-size: 14px;
    margin: 10px 20px;
}

.mensaje p {
    color: #909090;
    font-size: 12px;
    margin: 5px 50px;
}
/*** ************************ ***/

/*** TABLA ACTIVIDADES ***/
.tablaActividades{
    width: 600px;
    border: 1px solid #006dcc;
    border-collapse: collapse;
    text-align: center;
    min-height: 380px;
}

.widthAuto{
    width: auto !important;
}

.tablaActividades th, .tablaActividades td{
    border: 1px solid #006dcc;
}

.tablaActividades th{
    background-color: #006dcc;
    color: #FFF;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006dcc), color-stop(100%, #B0E0E6));
    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, #006dcc), color-stop(100%, #B0E0E6));
}
/*** ***************** ***/

root { 
    display: block;
}

.hiddenStructure{    
    display:none;
}

.Centrar{
    margin:0 auto;
}

.MargenTopBottom{
    margin-left: 20px;
    margin-top: 20px;
}

.bottom70{
    margin-bottom: 70px;
}

.Clear{
    clear: both;
}

#footer {
    margin-left:45%;
    margin-top:10px;
    float:left;
    width:75%;    
}

.bloque_asignatura{
    cursor:pointer;    
}

.lista_opciones{
    font-size: 13px;
    color:graytext;
    
}
textarea{
    display:block;
    margin-bottom:10px;
    margin-top:20px;
    width:290px;
    height:50px;
    border:1px solid #D9D9D9;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -moz-box-shadow:0 2px 1px #B0E0E6;
    -webkit-box-shadow:0 2px 1px #B0E0E6;
    font-size:1.4em;
    color:#737373;
    padding:0 5px;
}
#Formulario_oculto #form_oculto .mostrarAcualizar{
   display:block;
   margin-left: 500px; 
}
a.nota_rojo{
    color:red;
}

a.nota_naranja{
    color:orange;
}

a.nota_verde{
    color:green;
}

a.nota_vacia{
    color:grey;
}
#actividad_{
  
}
#actividad_ #tabla_actividades{
    float:left;
}
#actividad_ #tabla_actividades th,td{
   
    width: auto;
    white-space: nowrap;
    
}
.ancho_horizontal{
  /* padding-left: 41%;
   padding-right: 5%;
   margin-right: 5%;*/
}
.menu_left2{
    /*float:left;
    margin: 15px auto;
    padding: 1%;*/
}
.calificaciones_horizantales{
    /*float:left;*/
    height: auto;
    /*margin: 15px auto;
    padding: 1%;*/
}
.fila_calificaciones{
      overflow-x: scroll;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.center {
    float:left;
    margin-left: 45%;
}
.tabulado_derecha{
    margin-left:35%;
}