/* 
    Document   : estilos
    Created on : 05-oct-2013, 20:00:39
    Author     : Diego Santos
    Description:
        Estilos generales de la aplicación.
*/
h1{
    
        font-weight:bold;
	text-align: left;
	margin-bottom:20px;
	text-shadow:0 1px 0 #FFF;
	font-size:3.6em;
	color:#000080;
}
h2{
    
     font-size: 2.2em;
        margin-bottom: 20px;
        margin-left: 10px;
        color: #000080;
}
root { 
    display: block;
}
.hiddenStructure{    
    display:none;
}
#top{
    color:red;   
    /*margin-top:10px;*/
    /*float:left;*/
    width:100%;
    height: 55px;
    min-width: 1200px;
}
/*Principales estilos de body, content y formulario inicial*/
body {
       background-color:#F0F8FF;   
       width:1200px;
       margin: 0 auto;
}

#logout{
    float:right;
    margin-top:15px;
    margin-right: 20px;
}

.bloqueCentro{
    padding: 1%;
    width: 590px;
    min-width: 590px;
    height: auto;
    margin: 15px auto;
}

.bloqueCentroLayout2{
    width:880px !important;
    float:right !important;
}

.bloqueIzq{
    width:20%;
    float: left;
    margin: 15px auto;
    padding: 1%;
}

.bloqueDer{
    width:20%;
    float: right;
}

.cuadro{
    -moz-border-radius:3px; /* Firefox */ 
    -webkit-border-radius:3px; /* Safari y Chrome */ 
    border:1px solid #FFF;
    background-color: #FFF;
    -moz-box-shadow: 1px 1px 10px #fff;
    -webkit-box-shadow: 1px 1px 10px #fff;
}

.login{
    width: auto;
}

.mainCSS{
    position:relative;
    font-size:62.5%;
    font-family:Comic Sanz, "Helvetica Neue", Verdana, Sans-serif;
    padding:10%;
    background-image: url("../img/fondoLogin.jpg");
    -moz-background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    -moz-background-attachment: scroll;
    -webkit-background-attachment: scroll;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin: 0 auto;
}

#ContenidoPrincipal {
    margin: 0 auto;  
    width:auto;
    min-width: 1200px;
}

.perfil {
    background-color: #FFF;
    font-size:62.5%;
    font-family:Arial, "Helvetica Neue", Verdana, Sans-serif;
    width: auto;
}

#titles {
    left: 20px;
    top: 5px;
    margin: 0px;
    padding: 0px;
    z-index: 20;      
}

#accordion .list1{
    list-style-image: url("../img/list1.jpg");
    margin: 5px;
    padding: 0;
}

#accordion .list2{
    list-style-image: url("../img/list2.png");
    margin-left: 15px;
    padding: 0;
}

.Marco{
    border: #FFA500 2px solid;
    margin: 7px;
}

.Centrar{
    margin:0 auto;
}

.MargenTopBottom{
    margin-left: 20px;
    margin-top: 20px;
}

.Clear{
    clear: both;
}

#footer {
    margin-left:45%;
    margin-top:10px;
    float:left;
    width:75%;    
}

.bloque_asignatura{
    cursor:pointer;    
}

.lista_opciones{
    font-size: 13px;
    color:graytext;
    
}
textarea{
    display:block;
    margin-bottom:10px;
    margin-top:20px;
    width:290px;
    height:50px;
    border:1px solid #D9D9D9;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -moz-box-shadow:0 2px 1px #B0E0E6;
    -webkit-box-shadow:0 2px 1px #B0E0E6;
    font-size:1.4em;
    color:#737373;
    padding:0 5px;
}
#Formulario_oculto #form_oculto .mostrarAcualizar{
   display:block;
   margin-left: 500px; 
}
a.nota_rojo{
    color:red;
}

a.nota_naranja{
    color:orange;
}

a.nota_verde{
    color:green;
}

a.nota_vacia{
    color:grey;
}
#actividad_{
  
}
#actividad_ #tabla_actividades{
    float:left;
}
#actividad_ #tabla_actividades th,td{
   
    width: auto;
    white-space: nowrap;
    
}
.ancho_horizontal{
  /* padding-left: 41%;
   padding-right: 5%;
   margin-right: 5%;*/
}
.menu_left2{
    /*float:left;
    margin: 15px auto;
    padding: 1%;*/
}
.calificaciones_horizantales{
    /*float:left;*/
    height: auto;
    /*margin: 15px auto;
    padding: 1%;*/
}
.fila_calificaciones{
      overflow-x: scroll;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.center {
    float:left;
    margin-left: 45%;
}
.tabulado_derecha{
    margin-left:35%;
}

.tablaActividades{
    width: 250px;
    border: 1px solid #006dcc;
    border-collapse: collapse;
    text-align: center;
    min-width: 600px;
    min-height: 380px;
}

.widthAuto{
    width: auto !important;
}

.tablaActividades th, .tablaActividades td{
    border: 1px solid #006dcc;
}

.tablaActividades th{
    background-color: #006dcc;
    color: #FFF;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006dcc), color-stop(100%, #B0E0E6));
    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, #006dcc), color-stop(100%, #B0E0E6));
}