

a {text-decoration:none; color:#3e9c8f; font-family:'Open Sans', sans-serif; font-size: 0.9em;}



.encabezado3{
        background:#D5E4E8 none repeat scroll 0 0; 
        border:3px solid #B5CAD0; 
        margin:20px 0px; 
        width:auto;
}

.encabezado3 h3{ 
        font-weight:normal; 
        text-shadow:0 0 1px #000; 
        color:#444444; 
        padding:2px 0 0; 
        text-transform:capitalize; 
        line-height:1.2em; 
        margin-left:10px; 
} 

.labelCorreo {
	color:#000080;
	font-weight:bold;
	font-size:1.4em;
}

.labelToken {
	color:#20B2AA;
	font-weight:bold;
	font-size:1.1em;
}

.labelContraseña {
	color:#000080;
	font-weight:bold;
	font-size:1.4em;
        margin-top: 10px;
}

.btnQR{
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.40);
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.40);
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    margin-top:20px;
    padding:10px 14px;
    border:1px solid #388d81;
    background-color: #3e9c8f;
    background: -webkit-linear-gradient(#51a69a, #388d81);
    background: -moz-linear-gradient(#51a69a, #388d81);
    background: -o-linear-gradient(#51a69a, #388d81);
    background: linear-gradient(#51a69a, #388d81);
    color:#FFF;
    text-transform:uppercase;
}

.perder {
	font-size:1.2em;
	margin-top:15px;
}

.encabezado2{
        font-size: 1.9em;
        margin-bottom: 20px;
        margin-left: 10px;
        color: #006400;
        font-family: cursive;
}

#accordion-resizer {
    padding: auto;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#accordion {
    font-size: 1.2em;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.bActivar{
    margin:20px 50px;
    border:1px solid #7d99ca; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    text-align: center; 
    color: #FFFFFF; 
    background-color: #A5B8DA;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32CD32), color-stop(100%, #008000));
    background-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, #32CD32), color-stop(100%, #008000));
}

/************
HOVER EFFECTS
************/

input[type="text"]:focus, input[type="password"]:focus {
	outline:none;
}

.perder a:hover {
	text-decoration:underline;	
}

input[type="submit"]:hover {
	cursor:pointer;
        background-color: #FF8627;
}