/* 
    Document   : estilos
    Created on : 05-oct-2013, 20:00:39
    Author     : Diego Santos
    Description:
        Estilos generales de la aplicación.
*/
h1{
    
        font-weight:bold;
	text-align: left;
	margin-bottom:20px;
	text-shadow:0 1px 0 #FFF;
	font-size:3.6em;
	color:#000080;
}
h2{
    
     font-size: 2.2em;
        margin-bottom: 20px;
        margin-left: 10px;
        color: #000080;
}
root { 
    display: block;
}
.hiddenStructure{    
    display:none;
}
#top{
    
    color:red;   
    margin-top:10px;
    /*float:left;*/
    width:100%;
}
/*Principales estilos de body, content y formulario inicial*/
body {
       background-color:#F0F8FF;   
       /*width:1200px;*/
}

#logout{
    float:right;
   
    margin-top:-10%;
}

.bloqueCentro{
    width: 1000px;
    height: auto;
    margin: auto;
}

.login{
    width: auto;
}

.mainCSS{
    position:relative;
    font-size:62.5%;
    font-family:Comic Sanz, "Helvetica Neue", Verdana, Sans-serif;
    padding:35px 25px 35px 25px;
    background-image: url("../img/fondoLogin.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border-radius:4px;
    border:1px solid #D9D9D9;
    box-shadow:0 2px 1px #d9d9d9;
    margin: 0 auto;
    width:35%;
}

#ContenidoPrincipal {
    margin: 0 auto;  
    width:auto;
}

.perfil {
    background-color: #FFF;
    font-size:62.5%;
    font-family:Arial, "Helvetica Neue", Verdana, Sans-serif;
    width: auto;
}

.Izquierda{
    width: 30%;
    height: 100%;
    float: left;
    margin: 0 20px;
}

.Derecha{
    width: 60%;
    height: 100%;
    float: left;
    margin: 0 20px;
}

.Marco{
    border: #FFA500 2px solid;
    margin: 7px;
}

.Centrar{
    margin:0 auto;
}

.Clear{
    clear: both;
}

#footer {
    margin-left:45%;
    margin-top:10px;
    float:left;
    width:75%;    
}

.bloque_asignatura{
    cursor:pointer;    
}

.lista_opciones{
    font-size: 13px;
    color:graytext;
    
}
textarea{
    display:block;
    margin-bottom:10px;
    margin-top:20px;
    width:290px;
    height:50px;
    border:1px solid #D9D9D9;
    border-radius:2px;
    box-shadow:0 2px 1px #B0E0E6;
    font-size:1.4em;
    color:#737373;
    padding:0 5px;
}
#Formulario_oculto #form_oculto .mostrarAcualizar{
   display:block;
   margin-left: 500px; 
}
a.nota_rojo{
    color:red;
}

a.nota_naranja{
    color:orange;
}

a.nota_verde{
    color:green;
}

a.nota_vacia{
    color:grey;
}
#actividad_{
  
}
#actividad_ #tabla_actividades{
    float:left;
}
#actividad_ #tabla_actividades th,td{
   
    width: auto;
    white-space: nowrap;
    
}
.ancho_horizontal{
   padding-left: 41%;
   padding-right: 5%;
   margin-right: 5%;
}
.menu_left2{
    float:left;
}
.calificaciones_horizantales{
    float:left;
    height: auto;
}
.fila_calificaciones{
      overflow-x: scroll;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.center {
    float:left;
    margin-left: 45%;
}
.tabulado_derecha{
    margin-left:35%;
}