/* 
    Document   : estilos
    Created on : 05-oct-2013, 20:00:39
    Author     : Diego Santos
    Description:
        Estilos generales de la aplicación.
*/
h1{
    
        font-weight:bold;
	text-align: left;
	margin-bottom:20px;
	text-shadow:0 1px 0 #FFF;
	font-size:3.6em;
	color:#000080;
}
h2{
    
     font-size: 2.2em;
        margin-bottom: 20px;
        margin-left: 10px;
        color: #000080;
}
root { 
    display: block;
}
.hiddenStructure{    
    display:none;
}
#top{
    
    color:red;   
    margin-top:10px;
    /*float:left;*/
    width:100%;
}
/*Principales estilos de body, content y formulario inicial*/
body {
       background-color:#F0F8FF;    
       width:1200px;
}

#logout{
    float:right;
    margin-right:10%;
    margin-top:-10%;
}


#content {
    margin-left:15px;  
    width:100%;
}

#content #left {
    width:20%;
    float: left;    
}
#content #right {
    width:20%;
    float: left;    
}

#content #center.profesor{
    
    float: left;
    width: 40%;
    margin-left: 20%;
    margin-top: 10%;
    background: beige;
    
}

#content #form_login {
    width:45%;
    float: left;
    padding-left: 7%;
}
#content #form_login span{
    width:100px;
    float:left;
}
#content #form_login .form_login {
   
   width:80%;
    
    
}

#content .left_menu{
    width:25%;
    border:1px solid black;
    background-color:white;
    float:left;    
}

#content .left_menu h3{
      background-color:turquoise;
      cursor:pointer;
}



#content .content_center{
    
    float:left;
    width:60%;
    margin-left:10%;
    
}


#footer {
    margin-left:45%;
    margin-top:10px;
    float:left;
    width:75%;    
}



#accordion.profesor {
    width:auto;
}

.bloque_asignatura{
    cursor:pointer;    
}

.lista_opciones{
    font-size: 13px;
    color:graytext;
    
}
textarea{
    
    display:block;
	margin-bottom:10px;
	margin-top:20px;
	width:290px;
	height:50px;
	border:1px solid #D9D9D9;
	border-radius:2px;
	box-shadow:0 2px 1px #B0E0E6;
	font-size:1.4em;
	color:#737373;
	padding:0 5px;
}
#Formulario_oculto #form_oculto .mostrarAcualizar{
   display:block;
   margin-left: 500px; 
}
a.nota_rojo{
    color:red;
}

a.nota_naranja{
    color:orange;
}

a.nota_verde{
    color:green;
}

a.nota_vacia{
    color:grey;
}